<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMPR.AdminCP.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CMPR.AdminCP.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=ABHIMANBHAU-PC;Initial Catalog=CMPRDatabase;Persist Security Info=True;User ID=sa;Password=7588884040</value>
      </setting>
    </CMPR.AdminCP.Properties.Settings>
  </applicationSettings>
</configuration>